*{
margin:0;
padding:0;
box-sizing:border-box;
scroll-behavior:smooth;
}

body{

font-family:Poppins,sans-serif;
background:#eef8ec;

overflow-x:hidden;

}

/* HERO */

.hero{

height:100vh;

background:

linear-gradient(rgba(0,0,0,.45),rgba(0,0,0,.35)),

url("https://images.unsplash.com/photo-1500382017468-9049fed747ef?auto=format&fit=crop&w=1800&q=80");

background-size:cover;
background-position:center;

display:flex;

justify-content:center;

align-items:center;

position:relative;

}

.hero-content{

width:900px;

max-width:90%;

text-align:center;

color:white;

animation:fade 1.5s;

}

.badge{

display:inline-block;

padding:10px 20px;

background:rgba(255,255,255,.15);

backdrop-filter:blur(10px);

border-radius:30px;

margin-bottom:25px;

}

.hero h1{

font-family:"Playfair Display",serif;

font-size:65px;

line-height:1.1;

margin-bottom:25px;

}

.hero p{

font-size:20px;

line-height:1.8;

margin-bottom:40px;

}

button{

padding:18px 40px;

font-size:18px;

border:none;

border-radius:40px;

cursor:pointer;

background:white;

color:#2e7d32;

font-weight:bold;

transition:.3s;

}

button:hover{

transform:translateY(-5px);

box-shadow:0 15px 35px rgba(0,0,0,.3);

}

/* REDAÇÃO */

#redacao{

padding:120px 20px;

display:flex;

justify-content:center;

}

.paper{

background:white;

max-width:1000px;

padding:70px;

border-radius:25px;

box-shadow:0 20px 60px rgba(0,0,0,.15);

line-height:2;

font-size:18px;

}

.paper h2{

font-size:45px;

margin-bottom:35px;

color:#2e7d32;

font-family:"Playfair Display";

text-align:center;

}

footer{

padding:40px;

background:#2e7d32;

text-align:center;

color:white;

margin-top:100px;

}

@keyframes fade{

from{

opacity:0;

transform:translateY(40px);

}

to{

opacity:1;

transform:translateY(0);

}

}
